.footer-bg{
    background-color: #f6f5f8;;
}
.leading-normal {
    line-height: 3.5!important;
}
.bg-gr-light{
    background-color: #e6e8ea;
}
.c-logo{
    color:#72738e;
}

.bg-logo{
    background-color:#72738e!important;
}

.border-top{
    border-top:1px solid #e3e2e7;
}

.border-color{
    border-color: #e3e2e7;
}

.b-t-c{
    color:#8c8da0!important;
}
.c-title{
    color: #323456;
}

.img-mobile{
    top: -75px;
    position: relative;
}

.bg-service{
     background-color: #323456;
}
.card-rating{
    width: 80%;
    z-index: 2;
    margin-bottom: -85px;
    margin-top: 150px;
    margin-left: -150px;
}

@media only screen and (max-width: 425px){
    .card-rating{  
        margin-bottom: 0px;
    }
}
